<div class="secondary-content">
  <div class="register-container">
    <mat-card>
      <mat-card-title>Register user</mat-card-title>

      <mat-card-content>
        <form class="example-form" [formGroup]="reativeform" (ngSubmit)="SaveUser()">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>UserID</mat-label>
            <input matInput type="text" placeholder="UserID" formControlName="userid">
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput type="text" placeholder="Username" formControlName="name">
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder="Password" formControlName="password">
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput type="text" placeholder="Email" formControlName="email">
          </mat-form-field>

          <button type="submit" mat-raised-button color="primary">Register</button> |
          <a mat-raised-button color="accent" (click)="RedirectUser()">Close</a>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>

